# Tweets preprocessing

install libraries

In [ ]:
# Data preprocessing for Crisis dataset v1.2

# This notebook is created in Google Colab, please change the paths to your file.
# Every preprocessing method is seperate. You can choose the ones that you need. 
# Write me a note if something goes wrong or you need some new preprocessing methods.

# Update from v1.0:
# Include crisis_dataset_1
# Include evaluation

# Update from v1.1:
# Seperate all the algorithms and datasets, each with two matrixes output (full)

# Enjoy!

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install contractions

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting contractions
  Downloading contractions-0.1.72-py2.py3-none-any.whl (8.3 kB)
Collecting textsearch>=0.0.21
  Downloading textsearch-0.0.21-py2.py3-none-any.whl (7.5 kB)
Collecting pyahocorasick
  Downloading pyahocorasick-1.4.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (106 kB)
     |████████████████████████████████| 106 kB 7.3 MB/s
Collecting anyascii
  Downloading anyascii-0.3.1-py3-none-any.whl (287 kB)
     |████████████████████████████████| 287 kB 53.7 MB/s
Installing collected packages: pyahocorasick, anyascii, textsearch, contractions
Successfully installed anyascii-0.3.1 contractions-0.1.72 pyahocorasick-1.4.4 textsearch-0.0.21

In [ ]:
import pandas as pd
import unicodedata
import re
import contractions
from pathlib import Path
import numpy as np

import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

Load many datasets

In [ ]:
def split_dataset(tweets_df, seed = 100, TRAIN = 1, DEV = 0, TEST = 0):
    # Define the partition of train, dev and test set, make sure they sum up to 1
    PT_TRAIN = TRAIN
    PT_DEV = DEV
    PT_TEST = TEST

    # Define train, dev and test set
    tweets_df.loc[: tweets_df.shape[0] * PT_TRAIN, 'partition'] = 'train'
    tweets_df.loc[tweets_df.shape[0] * PT_TRAIN : tweets_df.shape[0] * (PT_TRAIN + PT_DEV), 'partition'] = 'dev'
    tweets_df.loc[tweets_df.shape[0] * (PT_TRAIN + PT_DEV) : tweets_df.shape[0] - 1, 'partition'] = 'test'

    # Shuffle
    final_df = tweets_df.sample(frac=1, random_state = seed).reset_index(drop=True)

    return final_df

In [ ]:
def load_documents(dataset_dir: str, dataset_text_col: str):
   # This method comes from Berk's work: src/utils.py
   # Input:
   # dataset_dir: The folder where the datasets are stored.
   # dataset_text_col: The name of the column that contains tweets.
   # (For dataset 1: tweets_text, for dataset 12: text)

   # Output:
   # One dataframe containing all the data

   dataset_data_paths = sorted([path for path in Path(dataset_dir).iterdir() if path.suffix in {'.csv', '.tsv'}])
   
   dfs = []
   labels_as_filenames = []
   topic_num = 0
   for data_path in dataset_data_paths:
      csv_delimiter = '\t' if data_path.suffix == '.tsv' else ','
      df = pd.read_csv(data_path, delimiter=csv_delimiter)
      df = df[[dataset_text_col]]
      splitted_df = split_dataset(df)
      splitted_df.loc[:, 'Topics'] = f'{topic_num}'
      topic_num += 1
      # Why do we need this?
      labels_as_filenames.extend([Path(data_path).stem] * len(df))
      dfs.append(splitted_df)
   
   merged_df = pd.concat(dfs, axis=0)
   merged_df.rename(columns={f'{dataset_text_col}':'Tweets'},inplace=True)

   return merged_df
   #assert False

In [ ]:
# Select the right dataset

# Crisis dataset No.1
#dataset_dir = '/content/drive/MyDrive/SS_2022_Praktikum/Crisis Dataset/Dataset_1_original'
#save_dir = '/content/drive/MyDrive/SS_2022_Praktikum/Crisis Dataset/Dataset_1'
#tweets_df = load_documents(dataset_dir, 'tweet_text')
#NUM_TOPICS = 11

# Crisis dataset No.12
dataset_dir = '/content/drive/MyDrive/SS_2022_Praktikum/Crisis Dataset/Dataset_12_original'
save_dir = '/content/drive/MyDrive/SS_2022_Praktikum/Crisis Dataset/Dataset_12'
tweets_df = load_documents(dataset_dir, 'text')
NUM_TOPICS = 4

In [ ]:
tweets_df

                                                 Tweets partition Topics
0     Bay Area niggas jus felt that lil earthquake l...     train      0
1           jswartz Yea! Welcome to earthquake twitter!     train      0
2     I think that was a light earthquake, but I won...     train      0
3                     Did y  all feel that earthquake?      train      0
4     Another freaking #earthquake ... what gives?! ...     train      0
...                                                 ...       ...    ...
1995  Malcolm Turnbull has praised technology for an...     train      3
1996  #NEWS #Cyclone Cyclone Debbie: What will happe...     train      3
1997  Watch Tropical Cyclone Debbie intensify from s...     train      3
1998  Cyclone dumps bull shark in middle of road htt...     train      3
1999  Ocean Sciences Article of the Day - Cyclone De...     train      3

[8000 rows x 3 columns]

In [ ]:
'''
# Former method

path1 = '/content/drive/MyDrive/SS_2022_Praktikum/Crisis Dataset/Dataset_12/earthquakes_eyewitness_crowdflower_2000.tsv'
path2 = '/content/drive/MyDrive/SS_2022_Praktikum/Crisis Dataset/Dataset_12/floods_eyewitness_crowdflower_2000.tsv'
path3 = '/content/drive/MyDrive/SS_2022_Praktikum/Crisis Dataset/Dataset_12/forestfires_eyewitness_crowdflower_2000.tsv'
path4 = '/content/drive/MyDrive/SS_2022_Praktikum/Crisis Dataset/Dataset_12/hurricanes_eyewitness_crowdflower_2000.tsv'

tweets_df1=pd.read_csv(path1, sep="\t")
tweets_df2=pd.read_csv(path2, sep="\t")
tweets_df3=pd.read_csv(path3, sep="\t")
tweets_df4=pd.read_csv(path4, sep="\t")

tweets_df1 = tweets_df1[['text']]
tweets_df2 = tweets_df2[['text']]
tweets_df3 = tweets_df3[['text']]
tweets_df4 = tweets_df4[['text']]

tweets_df1.rename(columns={'text':'Tweets'},inplace=True)
tweets_df2.rename(columns={'text':'Tweets'},inplace=True)
tweets_df3.rename(columns={'text':'Tweets'},inplace=True)
tweets_df4.rename(columns={'text':'Tweets'},inplace=True)

# Give the topic
tweets_df1.loc[:, 'Topics'] = 'earthquakes'
tweets_df2.loc[:, 'Topics'] = 'floods'
tweets_df3.loc[:, 'Topics'] = 'forestfires'
tweets_df4.loc[:, 'Topics'] = 'hurricanes'

# Concatenate
tweets_df = tweets_df1
tweets_df = tweets_df.append(tweets_df2, ignore_index = True)
tweets_df = tweets_df.append(tweets_df3, ignore_index = True)
tweets_df = tweets_df.append(tweets_df4, ignore_index = True)

# Shuffle
tweets_df = tweets_df.sample(frac=1.0, random_state = 100).reset_index(drop=True)

'''

'\n# Former method\n\npath1 = \'/content/drive/MyDrive/SS_2022_Praktikum/Crisis Dataset/Dataset_12/earthquakes_eyewitness_crowdflower_2000.tsv\'\npath2 = \'/content/drive/MyDrive/SS_2022_Praktikum/Crisis Dataset/Dataset_12/floods_eyewitness_crowdflower_2000.tsv\'\npath3 = \'/content/drive/MyDrive/SS_2022_Praktikum/Crisis Dataset/Dataset_12/forestfires_eyewitness_crowdflower_2000.tsv\'\npath4 = \'/content/drive/MyDrive/SS_2022_Praktikum/Crisis Dataset/Dataset_12/hurricanes_eyewitness_crowdflower_2000.tsv\'\n\ntweets_df1=pd.read_csv(path1, sep="\t")\ntweets_df2=pd.read_csv(path2, sep="\t")\ntweets_df3=pd.read_csv(path3, sep="\t")\ntweets_df4=pd.read_csv(path4, sep="\t")\n\ntweets_df1 = tweets_df1[[\'text\']]\ntweets_df2 = tweets_df2[[\'text\']]\ntweets_df3 = tweets_df3[[\'text\']]\ntweets_df4 = tweets_df4[[\'text\']]\n\ntweets_df1.rename(columns={\'text\':\'Tweets\'},inplace=True)\ntweets_df2.rename(columns={\'text\':\'Tweets\'},inplace=True)\ntweets_df3.rename(columns={\'text\':\'Tweets\'},inplace=True)\ntweets_df4.rename(columns={\'text\':\'Tweets\'},inplace=True)\n\n# Give the topic\ntweets_df1.loc[:, \'Topics\'] = \'earthquakes\'\ntweets_df2.loc[:, \'Topics\'] = \'floods\'\ntweets_df3.loc[:, \'Topics\'] = \'forestfires\'\ntweets_df4.loc[:, \'Topics\'] = \'hurricanes\'\n\n# Concatenate\ntweets_df = tweets_df1\ntweets_df = tweets_df.append(tweets_df2, ignore_index = True)\ntweets_df = tweets_df.append(tweets_df3, ignore_index = True)\ntweets_df = tweets_df.append(tweets_df4, ignore_index = True)\n\n# Shuffle\ntweets_df = tweets_df.sample(frac=1.0, random_state = 100).reset_index(drop=True)\n\n'

In [ ]:
# Shuffle again
tweets_df = tweets_df.sample(frac=1.0, random_state = 100).reset_index(drop=True)

In [ ]:
# See if the partition is correct
tweets_df.partition.value_counts()

train    8000
Name: partition, dtype: int64

In [ ]:
# Uncomment to see the merged (or unmerged) dataframes
tweets_df

                                                 Tweets partition Topics
0     NASA Sees #Tropical #Cyclone #Debbie Approachi...     train      3
1                      A small earthquake just happened     train      0
2     'Unprecedented' Wildfires Break Out in Norther...     train      2
3                       earthquake in #Oakland just now     train      0
4     I don  t know if my heart was beating too fast...     train      0
...                                                 ...       ...    ...
7995                       Go Dubs #earthquake #bayarea     train      0
7996  Guess this explains why my last apartment cons...     train      1
7997  Climatologist explains why 'the conditions are...     train      2
7998  i could've had my braces off today but debbie ...     train      3
7999  Well, there are a lot of white people in Calif...     train      2

[8000 rows x 3 columns]

In [ ]:
# Make sure you run this one before other methods!

def to_lowercase(text):
    return text.lower()

#testing the function on a single sample for explaination
print(to_lowercase('IN CHINESE WE CALL CAPITALIZATION AS BIG WRITTING, IN GERMAN AS WELL.'))

#converting every row of the column into lower case 
tweets_df.Tweets=tweets_df.Tweets.apply(to_lowercase)

in chinese we call capitalization as big writting, in german as well.

In [ ]:
def standardize_accented_chars(text):
    return unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')

#testing the function on a single sample for explaination
print(standardize_accented_chars('sómě words such as résumé, café, prótest, divorcé, coördinate, exposé, latté.'))

#standardizing accented characters for every row
tweets_df.Tweets=tweets_df.Tweets.apply(standardize_accented_chars)

some words such as resume, cafe, protest, divorce, coordinate, expose, latte.

In [ ]:
# Not a method, just to check how many tweets contain urls

def get_number_of_urls(documents):
    print("{:.2f}% of documents contain urls".format(sum
(documents.apply(lambda x:x.find('http'))>0)/len
(documents)*100))

# Passing the 'Tweets' column of the dataframe as the argument
print(get_number_of_urls(tweets_df.Tweets))

57.98% of documents contain urls
None

In [ ]:
def remove_url(text):
    return re.sub(r'https?:\S*', '', text)

#testing the function on a single sample for explaination
print(remove_url('using https://www.google.com/ as an example'))

#removing urls from every row
tweets_df.Tweets=tweets_df.Tweets.apply(remove_url)

using  as an example

In [ ]:
def expand_contractions(text):
    expanded_words = [] 
    for word in text.split():
       expanded_words.append(contractions.fix(word)) 
    return ' '.join(expanded_words)

#testing the function on a single sample for explaination
print(expand_contractions("Don't is the same as do not"))

#expanding contractions for every row
tweets_df.Tweets=tweets_df.Tweets.apply(expand_contractions)

Do not is the same as do not

In [ ]:
def remove_mentions_and_tags(text):
    text = re.sub(r'@\S*', '', text)
    return re.sub(r'#\S*', '', text)

#testing the function on a single sample for explaination
print(remove_mentions_and_tags('Some random @abc and #def'))

#removing mentions and tags from every row
tweets_df.Tweets=tweets_df.Tweets.apply(remove_mentions_and_tags)

Some random  and

In [ ]:
def keep_only_alphabet(text):
    return re.sub(r'[^a-zA-Z]', ' ', text)

#testing the function on a single sample for explaination
print(keep_only_alphabet('Just a bit more $$processing required.Just a bit!!!'))

#for all the rows
tweets_df.Tweets=tweets_df.Tweets.apply(keep_only_alphabet)

Just a bit more   processing required Just a bit

In [ ]:
def remove_stop_words(text):
  """
  Returns text without stop words
  """
  text = word_tokenize(text)
  word_list = []
  for word in text:
      if word not in stopwords.words('english') and word != 'rt':
          word_list.append(word)

  return ' '.join(word_list)

#testing the function on a single sample for explaination
print(remove_stop_words('rt Test this text to see which are stop words.'))

#removing stop-words and short words from every row
tweets_df.Tweets=tweets_df.Tweets.apply(remove_stop_words)

Test text see stop words .

In [ ]:
def lemmatize(text):
  lemmatizer = WordNetLemmatizer()
  text_str = word_tokenize(text)
  new_words = []

  for word in text_str:
    new_words.append(lemmatizer.lemmatize(word))
  return ' '.join(new_words)

#testing the function on a single sample for explaination
print(lemmatize('apples, bananas and pears are common fruits that are eaten by humans.'))

#Performing lemmatization on every row
tweets_df.Tweets=tweets_df.Tweets.apply(lemmatize)

apple , banana and pear are common fruit that are eaten by human .

In [ ]:
# Delete blank rows to fit OCTIS
tweets_df = tweets_df[tweets_df['Tweets'].str.len()>=1]
tweets_df.reset_index(inplace=True)

# Delete the index column caused by reset_index
del tweets_df['index']

# Delete tweets that only contain 1 or 2 words
for i in range(tweets_df.shape[0]):
    if len(tweets_df['Tweets'][i].split()) < 3:
        tweets_df.drop(index = i, inplace = True)

# (OPTIONAL) Delete tweets using the length of string
#tweets_df = tweets_df[tweets_df['Tweets'].str.len()>=20]

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
# Uncomment this to check how the df looks like after running
tweets_df

                                                 Tweets partition Topics
0               nasa see approaching landfall nasa aqua     train      3
1                             small earthquake happened     train      0
2     unprecedented wildfire break northern southern...     train      2
4               know heart beating fast felt earthquake     train      0
5     cyclone debbie coal mine hopeful reopening soo...     train      3
...                                                 ...       ...    ...
7983  turn completely flooded school closed car subm...     train      3
7985  guess explains last apartment consistently flo...     train      1
7986  climatologist explains condition primed fire c...     train      2
7987                    could brace today debbie damage     train      3
7988                   well lot white people california     train      2

[7306 rows x 3 columns]

In [ ]:
tweets_df.reset_index(inplace=True)
del tweets_df['index']

Make dataset and vocabulary for OCTIS

In [ ]:
# Create vocabulary.txt

def df_to_vocab(df):
    word_list = []
    for i in range(df.shape[0]):
        text = word_tokenize(df.Tweets[i])
        for word in text:
            if word not in word_list:
                word_list.append(word)
    return word_list

word_list = df_to_vocab(tweets_df)
len(word_list)

9266

In [ ]:
def list_to_vocab(word_list):
    txt = open(f"{save_dir}/vocabulary.txt", 'w')
    for i in range(len(word_list)):
        txt.write(word_list[i])
        txt.write('\r\n')
    txt.close()

list_to_vocab(word_list)

In [ ]:
#tweets_df.to_csv(f'{save_dir}/corpus.tsv',\
#                 sep = '\t', index=False, header = None)

In [ ]:
#tweets_df.to_csv(f'{save_dir}/corpus_with_header.tsv',\
#                 sep = '\t', index=False)

In [ ]:
# Use this as a check point
assert False

# OCTIS Initiation

In [ ]:
!pip install octis

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting octis
  Downloading octis-1.10.4-py2.py3-none-any.whl (129 kB)
     |████████████████████████████████| 129 kB 5.0 MB/s
Collecting libsvm
  Downloading libsvm-3.23.0.4.tar.gz (170 kB)
     |████████████████████████████████| 170 kB 59.7 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from octis) (2.23.0)
Collecting scikit-learn==0.24.2
  Downloading scikit_learn-0.24.2-cp37-cp37m-manylinux2010_x86_64.whl (22.3 MB)
     |████████████████████████████████| 22.3 MB 69.7 MB/s
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from octis) (3.7)
Collecting gensim>=4.0.0
  Downloading gensim-4.2.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (24.1 MB)
     |████████████████████████████████| 24.1 MB 58.5 MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from octis) (3.2.2)
Requirement already satisfied: numpy>=1.19.1 in /usr/local/lib/python3.7/dist-packages (from octis) (1.21.6)
Requirement already satisfied: spacy in /usr/local/lib/python3.7/dist-packages (from octis) (3.3.1)
Requirement already satisfied: torch in /usr/local/lib/python3.7/dist-packages (from octis) (1.11.0+cu113)
Collecting tomotopy
  Downloading tomotopy-0.12.2-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (16.3 MB)
     |████████████████████████████████| 16.3 MB 32.6 MB/s
Requirement already satisfied: flask in /usr/local/lib/python3.7/dist-packages (from octis) (1.1.4)
Collecting sentence-transformers
  Downloading sentence-transformers-2.2.2.tar.gz (85 kB)
     |████████████████████████████████| 85 kB 4.9 MB/s
Collecting scikit-optimize>=0.8.1
  Downloading scikit_optimize-0.9.0-py2.py3-none-any.whl (100 kB)
     |████████████████████████████████| 100 kB 8.7 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from octis) (1.3.5)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.2->octis) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.2->octis) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.2->octis) (1.1.0)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from gensim>=4.0.0->octis) (5.2.1)
Collecting pyaml>=16.9
  Downloading pyaml-21.10.1-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from pyaml>=16.9->scikit-optimize>=0.8.1->octis) (3.13)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from flask->octis) (1.1.0)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from flask->octis) (1.0.1)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from flask->octis) (2.11.3)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from flask->octis) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->flask->octis) (2.0.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->octis) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->octis) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->octis) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->octis) (1.4.3)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->octis) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->octis) (1.15.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk->octis) (2022.6.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk->octis) (4.64.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->octis) (2022.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->octis) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->octis) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->octis) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->octis) (2022.6.15)
Collecting transformers<5.0.0,>=4.6.0
  Downloading transformers-4.20.1-py3-none-any.whl (4.4 MB)
     |████████████████████████████████| 4.4 MB 42.2 MB/s
Requirement already satisfied: torchvision in /usr/local/lib/python3.7/dist-packages (from sentence-transformers->octis) (0.12.0+cu113)
Collecting sentencepiece
  Downloading sentencepiece-0.1.96-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 6.1 MB/s
Collecting huggingface-hub>=0.4.0
  Downloading huggingface_hub-0.8.1-py3-none-any.whl (101 kB)
     |████████████████████████████████| 101 kB 11.0 MB/s
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers->octis) (3.7.1)
Collecting PyYAML
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 59.4 MB/s
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers->octis) (21.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers->octis) (4.11.4)
Collecting tokenizers!=0.11.3,<0.13,>=0.11.1
  Downloading tokenizers-0.12.1-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (6.6 MB)
     |████████████████████████████████| 6.6 MB 36.6 MB/s
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->huggingface-hub>=0.4.0->sentence-transformers->octis) (3.8.0)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy->octis) (0.7.7)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy->octis) (57.4.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy->octis) (1.8.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy->octis) (2.0.6)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.9 in /usr/local/lib/python3.7/dist-packages (from spacy->octis) (3.0.9)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy->octis) (2.0.7)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy->octis) (1.0.2)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy->octis) (3.3.0)
Requirement already satisfied: thinc<8.1.0,>=8.0.14 in /usr/local/lib/python3.7/dist-packages (from spacy->octis) (8.0.17)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /usr/local/lib/python3.7/dist-packages (from spacy->octis) (0.9.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy->octis) (1.0.7)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy->octis) (0.6.1)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.7/dist-packages (from spacy->octis) (2.4.3)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy->octis) (0.4.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy->octis) (3.0.6)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.7/dist-packages (from torchvision->sentence-transformers->octis) (7.1.2)
Building wheels for collected packages: libsvm, sentence-transformers
  Building wheel for libsvm (setup.py) ... done
  Created wheel for libsvm: filename=libsvm-3.23.0.4-cp37-cp37m-linux_x86_64.whl size=233363 sha256=e17f9ce0302f4bb4f636b4e76559ff8904b6648236a28cd41281467ef5a80d18
  Stored in directory: /root/.cache/pip/wheels/cd/e8/1e/bf95cf256e4d3ffc94289ab508c49d48e34c98220af63e3513
  Building wheel for sentence-transformers (setup.py) ... done
  Created wheel for sentence-transformers: filename=sentence_transformers-2.2.2-py3-none-any.whl size=125938 sha256=2b6cc5188276196edec8640cc207f69845b17940836987325c835560f060c62c
  Stored in directory: /root/.cache/pip/wheels/bf/06/fb/d59c1e5bd1dac7f6cf61ec0036cc3a10ab8fecaa6b2c3d3ee9
Successfully built libsvm sentence-transformers
Installing collected packages: PyYAML, tokenizers, huggingface-hub, transformers, sentencepiece, scikit-learn, pyaml, tomotopy, sentence-transformers, scikit-optimize, libsvm, gensim, octis
  Attempting uninstall: PyYAML
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
  Attempting uninstall: gensim
    Found existing installation: gensim 3.6.0
    Uninstalling gensim-3.6.0:
      Successfully uninstalled gensim-3.6.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
yellowbrick 1.4 requires scikit-learn>=1.0.0, but you have scikit-learn 0.24.2 which is incompatible.
Successfully installed PyYAML-6.0 gensim-4.2.0 huggingface-hub-0.8.1 libsvm-3.23.0.4 octis-1.10.4 pyaml-21.10.1 scikit-learn-0.24.2 scikit-optimize-0.9.0 sentence-transformers-2.2.2 sentencepiece-0.1.96 tokenizers-0.12.1 tomotopy-0.12.2 transformers-4.20.1

In [ ]:
import octis
from octis.models.LDA import LDA
from octis.models.NMF import NMF
from octis.dataset.dataset import Dataset
from octis.evaluation_metrics.diversity_metrics import TopicDiversity
from octis.evaluation_metrics.coherence_metrics import Coherence
import numpy as np

In [190]:
# Save TC and TD
TCTD_line = []
TCTD_all = []

From here on, we output two matrixes and visualization for all the algorithms and datasets

# OCTIS -- LDA with crisis dataset 12

With our own data preprocessing method

In [191]:
dataset = Dataset()
dataset.load_custom_dataset_from_folder(save_dir)

In [192]:
import time
begin_time = time.time()

model = LDA(num_topics = 4, random_state = 98)  # Create model
output_LDA_crisis = model.train_model(dataset) # Train the model

end_time = time.time()
run_time_LDA_crisis = round(end_time-begin_time, 2)

In [193]:
# See what are in the model output

#print(*list(output_LDA_crisis.keys()), sep="\n")

In [194]:
# We can delete it later
for t in output_LDA_crisis['topics'][:]:
  print(" ".join(t))

debbie cyclone flood wildfire ex queensland school fort australia rain
wildfire california flood fire people northern home right via debbie
flood debbie cyclone wildfire earthquake like smoke flash really phone
earthquake flood felt feel flash flooding cyclone debbie warning like

In [195]:
# Initialize metric
npmi = Coherence(texts=dataset.get_corpus(), topk=10, measure='c_v')

# Initialize metric
topic_diversity = TopicDiversity(topk=10)

In [196]:
# Retrieve metrics score
topic_diversity_score = topic_diversity.score(output_LDA_crisis)
print("Topic diversity: " + str(topic_diversity_score))

npmi_score = npmi.score(output_LDA_crisis)
print("Coherence: " + str(npmi_score))

Topic diversity: 0.675
Coherence: 0.3164769956783974

In [197]:
TCTD_line.append('Crisis_12')
TCTD_line.append('LDA')
TCTD_line.append(topic_diversity_score)
TCTD_line.append(npmi_score)
TCTD_all.append(TCTD_line)
TCTD_line = []

In [198]:
# Match the number of labels to topic num id

# Dataset_12
in_labels_crisis_12 = {0:'earthquake',
                       1:'floods',
                       2:'forestfires',
                       3:'hurricanes'}

In [199]:
# Doc-Topic Output

col_names_DT = ('Document ID', 'Document', 'Real Label', 'Assigned Topic Num', 'Assignment Score')
result_DT = []

# Dataset 12
df = pd.read_csv('/content/drive/MyDrive/SS_2022_Praktikum/Crisis Dataset/Dataset_12/corpus_with_header.tsv', delimiter='\t')

# Crisis dataset
df = df.loc[df['partition'] == 'train']
output_max = np.max(output_LDA_crisis['topic-document-matrix'], axis = 0)
output_index = np.argmax(output_LDA_crisis['topic-document-matrix'], axis = 0)
length = len(output_max)
#print(df)

for i in range(length):
    result_DT_line = []

    result_DT_line.append(i)
    result_DT_line.append(df[i:i+1].Tweets.values[0])
    result_DT_line.append(in_labels_crisis_12[df[i:i+1].Topics.values[0]])

    result_DT_line.append(output_index[i])
    result_DT_line.append(output_max[i])

    result_DT.append(result_DT_line)

Doc_Topic_df = pd.DataFrame(result_DT, columns=col_names_DT)

Doc_Topic_df

,Document ID,Document,Real Label,Assigned Topic Num,Assignment Score
0,0,nasa see approaching landfall nasa aqua,hurricanes,0,0.888356
1,1,small earthquake happened,earthquake,3,0.811163
2,2,unprecedented wildfire break northern southern...,forestfires,1,0.891099
3,3,know heart beating fast felt earthquake,earthquake,1,0.545280
4,4,cyclone debbie coal mine hopeful reopening soo...,hurricanes,1,0.381486
...,...,...,...,...,...
7301,7301,turn completely flooded school closed car subm...,hurricanes,0,0.804138
7302,7302,guess explains last apartment consistently flo...,floods,1,0.888648
7303,7303,climatologist explains condition primed fire c...,forestfires,1,0.892635
7304,7304,could brace today debbie damage,hurricanes,0,0.624409
7305,7305,well lot white people california,forestfires,1,0.872300

In [200]:
# Topic-Word Output

col_names_TW = ("method", "method_specific_params", "dataset", "num_given_topics", "reduced",
                "topic_num", "topic_size", "topic_words", "word_scores", "num_detected_topics",
                "num_final_topics", "duration_secs")
result_TW = []
size_count = Doc_Topic_df.loc[:, 'Assigned Topic Num'].value_counts()
topic_words = output_LDA_crisis['topics']

# Get word scores
scores = output_LDA_crisis['topic-word-matrix']
word_list = []
with open('/content/drive/MyDrive/SS_2022_Praktikum/Crisis Dataset/Dataset_12/vocabulary.txt') as f:
    for line in f:
        word_list.append(line[:-1])

word_scores_all = []
for i in range(4):
    word_scores_line = []
    for j in range(10):     # 10 is the topk, we always use 10 in this task
        word = topic_words[i][j]
        word_scores = scores[i][word_list.index(word)]
        word_scores_line.append(word_scores)
    word_scores_all.append(word_scores_line)

for i in range(4):
    result_TW_line = []

    result_TW_line.append('LDA')
    result_TW_line.append('None')
    result_TW_line.append('crisis_12')
    result_TW_line.append(4)
    result_TW_line.append('None')
    result_TW_line.append(i)
    result_TW_line.append(size_count[i])
    result_TW_line.append(topic_words[i])
    result_TW_line.append(word_scores_all[i])
    result_TW_line.append('None')
    result_TW_line.append('None')
    result_TW_line.append(run_time_LDA_crisis)
    result_TW.append(result_TW_line)

Topic_word_df = pd.DataFrame(result_TW, columns=col_names_TW)
Topic_word_df

,method,method_specific_params,dataset,num_given_topics,reduced,topic_num,topic_size,topic_words,word_scores,num_detected_topics,num_final_topics,duration_secs
0,LDA,None,crisis_12,4,None,0,2093,"[debbie, cyclone, flood, wildfire, ex, queensl...","[1.3083663e-05, 0.00016826676, 1.2624243e-05, ...",None,None,5.1
1,LDA,None,crisis_12,4,None,1,2015,"[wildfire, california, flood, fire, people, no...","[0.03143632, 0.03956301, 2.4317927e-05, 0.0002...",None,None,5.1
2,LDA,None,crisis_12,4,None,2,1158,"[flood, debbie, cyclone, wildfire, earthquake,...","[7.671037e-05, 0.00024196277, 0.0007028393, 0....",None,None,5.1
3,LDA,None,crisis_12,4,None,3,2040,"[earthquake, flood, felt, feel, flash, floodin...","[0.0014340117, 1.8141418e-05, 0.0024106484, 0....",None,None,5.1

# OCTIS -- LDA with 20News dataset

In [201]:
# Define dataset
dataset = Dataset()
dataset.fetch_dataset("20NewsGroup")

In [202]:
# The length of testset
len(dataset.get_corpus()[13862:])

2447

In [203]:
import time
begin_time = time.time()

model = LDA(num_topics=20, alpha=0.1, random_state = 100)   # Create Model
output_LDA_20news = model.train_model(dataset)    # Train the model

end_time = time.time()
run_time_LDA_20news = round(end_time-begin_time, 2)

In [204]:
for t in output_LDA_20news['topics'][:5]:
  print(" ".join(t))

people time make child give religion man day thing word
people government gun state law weapon crime criminal kill make
people make time blue work ticket hand ground police thing
man homosexual make light people good turn leave time gay
key chip encryption make clipper post security people law public

In [205]:
# Initialize metric
npmi = Coherence(texts=dataset.get_corpus(), topk=10, measure='c_v')

# Initialize metric
topic_diversity = TopicDiversity(topk=10)

In [206]:
# Retrieve metrics score
topic_diversity_score = topic_diversity.score(output_LDA_20news)
print("Topic diversity: " + str(topic_diversity_score))

npmi_score = npmi.score(output_LDA_20news)
print("Coherence: " + str(npmi_score))

Topic diversity: 0.695
Coherence: 0.5073820330016738

In [207]:
TCTD_line.append('20_news')
TCTD_line.append('LDA')
TCTD_line.append(topic_diversity_score)
TCTD_line.append(npmi_score)
TCTD_all.append(TCTD_line)
TCTD_line = []

In [208]:
# Use dataset.get_corpus()[13862:] if you would like to use the testset
# Here, we use training set only
orig_20news = dataset.get_corpus()[:11415]
all_20news = []
for i in range(len(orig_20news)):
    full = ' '.join(s for s in orig_20news[i])
    all_20news.append(full)
all_20news_labels = dataset.get_labels()

In [209]:
# Doc-Topic Output

col_names_DT = ('Document ID', 'Document', 'Real Label', 'Assigned Topic Num', 'Assignment Score')
result_DT = []

# 20 news dataset
length = len(all_20news)
output_max = np.max(output_LDA_20news['topic-document-matrix'], axis = 0)
output_index = np.argmax(output_LDA_20news['topic-document-matrix'], axis = 0)

for i in range(length):
    result_DT_line = []

    result_DT_line.append(i)
    result_DT_line.append(all_20news[i])
    result_DT_line.append(all_20news_labels[i])
    result_DT_line.append(output_index[i])
    result_DT_line.append(output_max[i])

    result_DT.append(result_DT_line)

Doc_Topic_df = pd.DataFrame(result_DT, columns=col_names_DT)

Doc_Topic_df

,Document ID,Document,Real Label,Assigned Topic Num,Assignment Score
0,0,fax modem card sell mail,misc.forsale,10,0.728531
1,1,run server server install run add,comp.windows.x,12,0.668365
2,2,live part lead wait important remember judge j...,soc.religion.christian,0,0.499256
3,3,doesn pain deserve die lie rape,talk.religion.misc,0,0.538701
4,4,sale mile good condition good condition player...,rec.autos,13,0.676404
...,...,...,...,...,...
11410,11410,week half ago post people feeling family print...,comp.os.ms-windows.misc,6,0.417234
11411,11411,false claim wrong detail paragraph put quote w...,alt.atheism,17,0.551511
11412,11412,buy run afford put guy clue respond,comp.sys.mac.hardware,2,0.788835
11413,11413,match amazing red smoke screen point man argum...,talk.religion.misc,17,0.696580
11414,11414,post friend news service usual forward reply r...,comp.windows.x,12,0.729595

In [210]:
# Topic-Word Output

col_names_TW = ("method", "method_specific_params", "dataset", "num_given_topics", "reduced",
                "topic_num", "topic_size", "topic_words", "word_scores", "num_detected_topics",
                "num_final_topics", "duration_secs")
result_TW = []
size_count = Doc_Topic_df.loc[:, 'Assigned Topic Num'].value_counts()
topic_words = output_LDA_20news['topics']

# Get word scores
scores = output_LDA_20news['topic-word-matrix']
word_list = []
with open('/content/drive/MyDrive/SS_2022_Praktikum/20news Dataset/vocabulary.txt') as f:
    for line in f:
        word_list.append(line[:-1])

word_scores_all = []
for i in range(20):
    word_scores_line = []
    for j in range(10):     # 10 is the topk, we always use 10 in this task
        word = topic_words[i][j]
        word_scores = scores[i][word_list.index(word)]
        word_scores_line.append(word_scores)
    word_scores_all.append(word_scores_line)

for i in range(20):
    result_TW_line = []

    result_TW_line.append('LDA')
    result_TW_line.append('None')
    result_TW_line.append('20news')
    result_TW_line.append(20)
    result_TW_line.append('None')
    result_TW_line.append(i)
    result_TW_line.append(size_count[i])
    result_TW_line.append(topic_words[i])
    result_TW_line.append(word_scores_all[i])
    result_TW_line.append('None')
    result_TW_line.append('None')
    result_TW_line.append(run_time_LDA_20news)

    result_TW.append(result_TW_line)

Topic_word_df = pd.DataFrame(result_TW, columns=col_names_TW)
Topic_word_df

,method,method_specific_params,dataset,num_given_topics,reduced,topic_num,topic_size,topic_words,word_scores,num_detected_topics,num_final_topics,duration_secs
0,LDA,None,20news,20,None,0,836,"[people, time, make, child, give, religion, ma...","[0.00086052256, 2.0403959e-05, 0.00044801916, ...",None,None,22.73
1,LDA,None,20news,20,None,1,747,"[people, government, gun, state, law, weapon, ...","[0.0012306868, 6.479789e-05, 3.203855e-05, 2.1...",None,None,22.73
2,LDA,None,20news,20,None,2,314,"[people, make, time, blue, work, ticket, hand,...","[0.00057017757, 8.950515e-05, 4.0902618e-05, 0...",None,None,22.73
3,LDA,None,20news,20,None,3,489,"[man, homosexual, make, light, people, good, t...","[3.1329164e-06, 0.002678415, 2.8255e-06, 2.753...",None,None,22.73
4,LDA,None,20news,20,None,4,533,"[key, chip, encryption, make, clipper, post, s...","[0.00030739416, 0.00060475356, 0.00068932975, ...",None,None,22.73
5,LDA,None,20news,20,None,5,256,"[armenian, space, turkish, launch, year, russi...","[0.0007480184, 5.7712503e-05, 0.011503427, 0.0...",None,None,22.73
6,LDA,None,20news,20,None,6,639,"[color, driver, bit, mode, card, run, work, di...","[0.00051112066, 0.0018207183, 1.0467702e-05, 0...",None,None,22.73
7,LDA,None,20news,20,None,7,181,"[page, title, text, include, information, dept...","[9.873284e-05, 2.0101092e-05, 1.3899491e-05, 0...",None,None,22.73
8,LDA,None,20news,20,None,8,877,"[file, image, mail, program, information, incl...","[3.7284462e-06, 0.00016534285, 0.00063529774, ...",None,None,22.73
9,LDA,None,20news,20,None,9,236,"[win, year, gun, make, team, rate, lose, back,...","[1.3268018e-05, 9.172867e-06, 1.7483406e-05, 1...",None,None,22.73
10,LDA,None,20news,20,None,10,777,"[drive, card, speed, power, buy, system, compu...","[0.0014662262, 3.4617904e-05, 3.302619e-06, 0....",None,None,22.73
11,LDA,None,20news,20,None,11,975,"[game, play, year, good, team, player, time, m...","[0.00024198253, 2.8681763e-05, 1.6143395e-06, ...",None,None,22.73
12,LDA,None,20news,20,None,12,433,"[window, application, widget, work, resource, ...","[1.3087724e-05, 8.583232e-06, 0.00043992928, 2...",None,None,22.73
13,LDA,None,20news,20,None,13,607,"[price, good, keyboard, list, offer, sale, sel...","[0.00021601764, 0.00034182443, 1.5788584e-05, ...",None,None,22.73
14,LDA,None,20news,20,None,14,448,"[water, system, drug, disease, study, make, pl...","[2.8187043e-05, 2.2218173e-06, 2.5354464e-05, ...",None,None,22.73
15,LDA,None,20news,20,None,15,784,"[problem, work, drive, system, disk, run, conn...","[3.7456036e-06, 0.00086429727, 0.0017312762, 2...",None,None,22.73
16,LDA,None,20news,20,None,16,819,"[car, cost, make, money, year, tank, gas, engi...","[0.0019406157, 0.00031169725, 0.00062429096, 0...",None,None,22.73
17,LDA,None,20news,20,None,17,847,"[book, question, point, people, belief, good, ...","[0.00041123148, 0.001987604, 1.5869113e-06, 0....",None,None,22.73
18,LDA,None,20news,20,None,18,389,"[question, batf, start, find, feel, back, answ...","[0.0005810797, 3.548586e-06, 0.00033623952, 1....",None,None,22.73
19,LDA,None,20news,20,None,19,228,"[love, people, hate, jewish, sin, doctor, isra...","[0.00011687561, 0.0004835446, 5.7972782e-05, 0...",None,None,22.73

In [211]:
np.shape(output_LDA_20news['topic-word-matrix'])

(20, 1612)

# OCTIS -- NMF with crisis dataset

In [212]:
dataset = Dataset()
dataset.load_custom_dataset_from_folder(save_dir)

In [213]:
import time
begin_time = time.time()

model = NMF(num_topics = 4, random_state = 96)  # Create model
output_NMF_crisis = model.train_model(dataset) # Train the model

end_time = time.time()
run_time_NMF_crisis = round(end_time-begin_time, 2)

In [214]:
for t in output_NMF_crisis['topics'][:]:
  print(" ".join(t))

flood flash warning cyclone debbie rain watch area water going
earthquake flood felt like feel fire go twitter california first
wildfire california fort northern mcmurray canada smoke fire canadian people
cyclone debbie ex queensland school tropical australia rain south closed

In [215]:
# Initialize metric
npmi = Coherence(texts=dataset.get_corpus(), topk=10, measure='c_v')

# Initialize metric
topic_diversity = TopicDiversity(topk=10)

In [216]:
# Retrieve metrics score
topic_diversity_score = topic_diversity.score(output_NMF_crisis)
print("Topic diversity: " + str(topic_diversity_score))

npmi_score = npmi.score(output_NMF_crisis)
print("Coherence: " + str(npmi_score))

Topic diversity: 0.85
Coherence: 0.49611643991760246

In [217]:
TCTD_line.append('Crisis_12')
TCTD_line.append('NMF')
TCTD_line.append(topic_diversity_score)
TCTD_line.append(npmi_score)
TCTD_all.append(TCTD_line)
TCTD_line = []

In [218]:
# Doc-Topic Output

col_names_DT = ('Document ID', 'Document', 'Real Label', 'Assigned Topic Num', 'Assignment Score')
result_DT = []

# Dataset 12
df = pd.read_csv('/content/drive/MyDrive/SS_2022_Praktikum/Crisis Dataset/Dataset_12/corpus_with_header.tsv', delimiter='\t')

# Crisis dataset
df = df.loc[df['partition'] == 'train']
output_max = np.max(output_NMF_crisis['topic-document-matrix'], axis = 0)
output_index = np.argmax(output_NMF_crisis['topic-document-matrix'], axis = 0)
length = len(output_max)
#print(df)

for i in range(length):
    result_DT_line = []

    result_DT_line.append(i)
    result_DT_line.append(df[i:i+1].Tweets.values[0])
    result_DT_line.append(in_labels_crisis_12[df[i:i+1].Topics.values[0]])
    result_DT_line.append(output_index[i])
    result_DT_line.append(output_max[i])

    result_DT.append(result_DT_line)

Doc_Topic_df = pd.DataFrame(result_DT, columns=col_names_DT)

Doc_Topic_df

,Document ID,Document,Real Label,Assigned Topic Num,Assignment Score
0,0,nasa see approaching landfall nasa aqua,hurricanes,2,0.325869
1,1,small earthquake happened,earthquake,1,1.000000
2,2,unprecedented wildfire break northern southern...,forestfires,2,1.000000
3,3,know heart beating fast felt earthquake,earthquake,1,1.000000
4,4,cyclone debbie coal mine hopeful reopening soo...,hurricanes,3,0.955586
...,...,...,...,...,...
7301,7301,turn completely flooded school closed car subm...,hurricanes,3,0.992386
7302,7302,guess explains last apartment consistently flo...,floods,0,0.432808
7303,7303,climatologist explains condition primed fire c...,forestfires,2,0.814563
7304,7304,could brace today debbie damage,hurricanes,3,0.922867
7305,7305,well lot white people california,forestfires,2,0.872984

In [219]:
# Topic-Word Output

col_names_TW = ("method", "method_specific_params", "dataset", "num_given_topics", "reduced",
                "topic_num", "topic_size", "topic_words", "word_scores", "num_detected_topics",
                "num_final_topics", "duration_secs")
result_TW = []
size_count = Doc_Topic_df.loc[:, 'Assigned Topic Num'].value_counts()
topic_words = output_NMF_crisis['topics']

# Get word scores
scores = output_NMF_crisis['topic-word-matrix']
word_list = []
with open('/content/drive/MyDrive/SS_2022_Praktikum/Crisis Dataset/Dataset_12/vocabulary.txt') as f:
    for line in f:
        word_list.append(line[:-1])

word_scores_all = []
for i in range(4):
    word_scores_line = []
    for j in range(10):     # 10 is the topk, we always use 10 in this task
        word = topic_words[i][j]
        word_scores = scores[i][word_list.index(word)]
        word_scores_line.append(word_scores)
    word_scores_all.append(word_scores_line)

for i in range(4):
    result_TW_line = []

    result_TW_line.append('NMF')
    result_TW_line.append('None')
    result_TW_line.append('crisis_12')
    result_TW_line.append(4)
    result_TW_line.append('None')
    result_TW_line.append(i)
    result_TW_line.append(size_count[i])
    result_TW_line.append(topic_words[i])
    result_TW_line.append(word_scores_all[i])
    result_TW_line.append('None')
    result_TW_line.append('None')
    result_TW_line.append(run_time_NMF_crisis)
    result_TW.append(result_TW_line)

Topic_word_df = pd.DataFrame(result_TW, columns=col_names_TW)
Topic_word_df

,method,method_specific_params,dataset,num_given_topics,reduced,topic_num,topic_size,topic_words,word_scores,num_detected_topics,num_final_topics,duration_secs
0,NMF,None,crisis_12,4,None,0,2097,"[flood, flash, warning, cyclone, debbie, rain,...","[7.23655817881553e-05, 0.0016822021702643975, ...",None,None,5.83
1,NMF,None,crisis_12,4,None,1,1867,"[earthquake, flood, felt, like, feel, fire, go...","[0.0014608935906271017, 6.708129596845899e-05,...",None,None,5.83
2,NMF,None,crisis_12,4,None,2,1836,"[wildfire, california, fort, northern, mcmurra...","[0.053048767061298796, 0.09458816807590659, 0....",None,None,5.83
3,NMF,None,crisis_12,4,None,3,1506,"[cyclone, debbie, ex, queensland, school, trop...","[0.00033885957141584157, 0.0008180305411868284...",None,None,5.83

# OCTIS -- NMF with 20News dataset

In [220]:
# Define dataset
dataset = Dataset()
dataset.fetch_dataset("20NewsGroup")

In [221]:
import time
begin_time = time.time()

model = NMF(num_topics=20, random_state = 100)   # Create Model
output_NMF_20news = model.train_model(dataset)    # Train the model

end_time = time.time()
run_time_NMF_20news = round(end_time-begin_time, 2)

In [222]:
for t in output_NMF_20news['topics'][:5]:
  print(" ".join(t))

server include base support send widget subject motif mail source
system user list information internet application post run window email
system key question atheist post argument exist belief true religion
graphic image mail send package format object datum model include
government turkish russian administration official support fund american war food

In [223]:
# Initialize metric
npmi = Coherence(texts=dataset.get_corpus(), topk=10, measure='c_v')

# Initialize metric
topic_diversity = TopicDiversity(topk=10)

In [224]:
# Retrieve metrics score
topic_diversity_score = topic_diversity.score(output_NMF_20news)
print("Topic diversity: " + str(topic_diversity_score))

npmi_score = npmi.score(output_NMF_20news)
print("Coherence: " + str(npmi_score))

Topic diversity: 0.695
Coherence: 0.5978809563977465

In [225]:
TCTD_line.append('20_news')
TCTD_line.append('NMF')
TCTD_line.append(topic_diversity_score)
TCTD_line.append(npmi_score)
TCTD_all.append(TCTD_line)
TCTD_line = []

In [226]:
# Doc-Topic Output

col_names_DT = ('Document ID', 'Document', 'Real Label', 'Assigned Topic Num', 'Assignment Score')
result_DT = []

# 20 news dataset
length = len(all_20news)
output_max = np.max(output_NMF_20news['topic-document-matrix'], axis = 0)
output_index = np.argmax(output_NMF_20news['topic-document-matrix'], axis = 0)

for i in range(length):
    result_DT_line = []

    result_DT_line.append(i)
    result_DT_line.append(all_20news[i])
    result_DT_line.append(all_20news_labels[i])
    result_DT_line.append(output_index[i])
    result_DT_line.append(output_max[i])

    result_DT.append(result_DT_line)

Doc_Topic_df = pd.DataFrame(result_DT, columns=col_names_DT)

Doc_Topic_df

,Document ID,Document,Real Label,Assigned Topic Num,Assignment Score
0,0,fax modem card sell mail,misc.forsale,3,0.479223
1,1,run server server install run add,comp.windows.x,0,0.656878
2,2,live part lead wait important remember judge j...,soc.religion.christian,15,0.634671
3,3,doesn pain deserve die lie rape,talk.religion.misc,17,0.373880
4,4,sale mile good condition good condition player...,rec.autos,9,0.218945
...,...,...,...,...,...
11410,11410,week half ago post people feeling family print...,comp.os.ms-windows.misc,9,0.236355
11411,11411,false claim wrong detail paragraph put quote w...,alt.atheism,2,0.583568
11412,11412,buy run afford put guy clue respond,comp.sys.mac.hardware,17,0.422707
11413,11413,match amazing red smoke screen point man argum...,talk.religion.misc,2,0.488682
11414,11414,post friend news service usual forward reply r...,comp.windows.x,15,0.327393

In [227]:
# Topic-Word Output

col_names_TW = ("method", "method_specific_params", "dataset", "num_given_topics", "reduced",
                "topic_num", "topic_size", "topic_words", "word_scores", "num_detected_topics",
                "num_final_topics", "duration_secs")
result_TW = []
size_count = Doc_Topic_df.loc[:, 'Assigned Topic Num'].value_counts()
topic_words = output_NMF_20news['topics']

# Get word scores
scores = output_NMF_20news['topic-word-matrix']
word_list = []
with open('/content/drive/MyDrive/SS_2022_Praktikum/20news Dataset/vocabulary.txt') as f:
    for line in f:
        word_list.append(line[:-1])

word_scores_all = []
for i in range(20):
    word_scores_line = []
    for j in range(10):     # 10 is the topk, we always use 10 in this task
        word = topic_words[i][j]
        word_scores = scores[i][word_list.index(word)]
        word_scores_line.append(word_scores)
    word_scores_all.append(word_scores_line)

for i in range(20):
    result_TW_line = []

    result_TW_line.append('NMF')
    result_TW_line.append('None')
    result_TW_line.append('20news')
    result_TW_line.append(20)
    result_TW_line.append('None')
    result_TW_line.append(i)
    result_TW_line.append(size_count[i])
    result_TW_line.append(topic_words[i])
    result_TW_line.append(word_scores_all[i])
    result_TW_line.append('None')
    result_TW_line.append('None')
    result_TW_line.append(run_time_NMF_20news)

    result_TW.append(result_TW_line)

Topic_word_df = pd.DataFrame(result_TW, columns=col_names_TW)
Topic_word_df

,method,method_specific_params,dataset,num_given_topics,reduced,topic_num,topic_size,topic_words,word_scores,num_detected_topics,num_final_topics,duration_secs
0,NMF,None,20news,20,None,0,304,"[server, include, base, support, send, widget,...","[0.0, 0.0, 0.0, 8.731066067326145e-05, 0.00060...",None,None,11.24
1,NMF,None,20news,20,None,1,581,"[system, user, list, information, internet, ap...","[0.0, 0.0, 0.0004709782374398393, 0.0007208123...",None,None,11.24
2,NMF,None,20news,20,None,2,949,"[system, key, question, atheist, post, argumen...","[0.0, 8.572976931042663e-05, 0.000270838433839...",None,None,11.24
3,NMF,None,20news,20,None,3,315,"[graphic, image, mail, send, package, format, ...","[0.0, 0.0, 0.0018060345761106596, 0.0, 0.0, 4....",None,None,11.24
4,NMF,None,20news,20,None,4,298,"[government, turkish, russian, administration,...","[0.0, 0.033303875477862815, 0.0035814119751398...",None,None,11.24
5,NMF,None,20news,20,None,5,419,"[window, widget, call, application, subject, s...","[0.0012993844783123637, 0.0004662116435533043,...",None,None,11.24
6,NMF,None,20news,20,None,6,172,"[privacy, key, internet, encryption, computer,...","[1.4839579999629795e-05, 0.0010842779033280044...",None,None,11.24
7,NMF,None,20news,20,None,7,1286,"[game, team, season, play, player, year, win, ...","[0.0003452899196979689, 0.0, 0.0, 4.8765348481...",None,None,11.24
8,NMF,None,20news,20,None,8,341,"[launch, planet, year, space, earth, satellite...","[0.0, 0.0026378678005862864, 0.0, 0.0, 6.61802...",None,None,11.24
9,NMF,None,20news,20,None,9,1394,"[program, question, make, work, president, pro...","[0.0013514060068133555, 0.0011314274804515852,...",None,None,11.24
10,NMF,None,20news,20,None,10,369,"[armenian, people, turkish, book, genocide, vi...","[0.0013225741616039919, 0.001957654128514121, ...",None,None,11.24
11,NMF,None,20news,20,None,11,404,"[file, format, program, version, color, softwa...","[0.0, 0.0, 0.0012325442585004417, 0.0, 0.00045...",None,None,11.24
12,NMF,None,20news,20,None,12,449,"[gun, file, firearm, law, people, weapon, bill...","[0.0, 0.0007916873724500356, 0.0, 0.0051071232...",None,None,11.24
13,NMF,None,20news,20,None,13,636,"[information, page, report, drug, patient, num...","[0.0010497006117154456, 0.0007090945188817616,...",None,None,11.24
14,NMF,None,20news,20,None,14,882,"[drive, tape, master, scsi, driver, work, car,...","[0.0024799340209498534, 0.0, 0.000352316770585...",None,None,11.24
15,NMF,None,20news,20,None,15,1707,"[make, people, time, president, thing, talk, w...","[0.0, 0.0, 3.2022555975981645e-06, 7.520824987...",None,None,11.24
16,NMF,None,20news,20,None,16,58,"[file, system, disk, gun, question, control, b...","[0.0, 0.0, 0.00155342101722542, 0.0, 0.0, 0.0,...",None,None,11.24
17,NMF,None,20news,20,None,17,638,"[people, start, leave, happen, woman, neighbor...","[0.001266011353700852, 0.0, 0.0, 0.0, 0.0, 0.0...",None,None,11.24
18,NMF,None,20news,20,None,18,117,"[image, color, display, bit, format, quality, ...","[0.0, 0.0022094395875426197, 0.0, 0.0, 0.0, 0....",None,None,11.24
19,NMF,None,20news,20,None,19,96,"[firearm, window, weapon, law, section, vote, ...","[0.00039329980180846186, 0.0, 0.0, 0.001214520...",None,None,11.24

# Evaluation

In [228]:
# TC and TD
col_names_TCTD = ("Dataset", "algorithm", "Topic Diversity", "Topic Coherence")
TCTD_df = pd.DataFrame(TCTD_all, columns=col_names_TCTD)

TCTD_df

     Dataset algorithm  Topic Diversity  Topic Coherence
0  Crisis_12       LDA            0.675         0.316477
1    20_news       LDA            0.695         0.507382
2  Crisis_12       NMF            0.850         0.496116
3    20_news       NMF            0.695         0.597881

In [229]:
assert False

AssertionError: ignored

In [ ]:
a = dataset._Dataset__corpus[0]

In [ ]:
len(dataset.get_labels())

In [ ]:
# Match the number of labels to topics
# Adjust according to the output in the block below

# Dataset_12
in_labels = {0:'earthquake',
             1:'floods',
             2:'forestfires',
             3:'hurricanes'}

out_labels = {0:'hurricanes',
              1:'earthquake',
              2:'floods',
              3:'forestfires'}

# 20 news dataset (Not accurate, we don't use this for now)
#labels_20news = {}
#for i in range(20):
#    labels_20news[i] = dataset._Dataset__metadata['labels'][i]

In [ ]:
# Make 20 news test dataset
# testset_20news: The texts
# testset_20news_labels: The labels
dataset = Dataset()
dataset.fetch_dataset("20NewsGroup")

# Use dataset.get_corpus()[13862:] if you would like to use the testset
orig_20news = dataset.get_corpus()[:11415]
all_20news = []
for i in range(len(orig_20news)):
    full = ' '.join(s for s in orig_20news[i])
    all_20news.append(full)
all_20news_labels = dataset.get_labels()

In [ ]:
for t in output_NMF_crisis['topics'][:]:
  print(" ".join(t))

In [ ]:
np.shape(output_NMF_20news['topic-document-matrix'])

In [ ]:
# Doc-Topic Output (Only test set here)
# Why do we need "run_id"
# 4 changes to make in total when changing the algorithm (and the corresponding dataset)
# 1 change to make when changing the dataset (by commenting)

col_names_DT = ("Document", "Real Label", "Assigned Topic Num", "Assignment Score")
result_DT = []

# Dataset 1
#df = pd.read_csv('/content/drive/MyDrive/SS_2022_Praktikum/Crisis Dataset/Dataset_1/corpus_with_header.tsv', delimiter='\t')

# Dataset 12
#df = pd.read_csv('/content/drive/MyDrive/SS_2022_Praktikum/Crisis Dataset/Dataset_12/corpus_with_header.tsv', delimiter='\t')

# Crisis dataset
#df = df.loc[df['partition'] == 'test']
#output_max = np.max(output_NMF_crisis['topic-document-matrix'], axis = 0)
#output_index = np.argmax(output_NMF_crisis['topic-document-matrix'], axis = 0)
#length = len(output_max)

# 20 news dataset
length = len(all_20news)
output_max = np.max(output_LDA_20news['topic-document-matrix'], axis = 0)
output_index = np.argmax(output_LDA_20news['topic-document-matrix'], axis = 0)

for i in range(length):
    result_DT_line = []

    # Crisis dataset
    #result_DT_line.append(df[i:i+1].Tweets.values[0])
    #result_DT_line.append(in_labels[df[i:i+1].Topics.values[0]])

    # 20 news dataset
    result_DT_line.append(all_20news[i])
    result_DT_line.append(all_20news_labels[i])

    result_DT_line.append(output_index[i])
    result_DT_line.append(output_max[i])

    result_DT.append(result_DT_line)

Doc_Topic_df = pd.DataFrame(result_DT, columns=col_names_DT)

Doc_Topic_df

In [ ]:
# Method from Berk's work, 3q!
# Define length according to the dataset
length = 20

for i in range(length):
    print(f'Topic {i}:')
    print(Doc_Topic_df.query(f'`Assigned Topic Num` == {i}') ['Real Label'].value_counts())
    print('-'*32)

In [ ]:
# Topic-Word Output
# 1 change to make in total when changing the algorithm (and the corresponding dataset)
# 1 change to make when changing the dataset (by commenting)
# Remember to change NUM_TOPICS, it's also possible to change it here
NUM_TOPICS = 20

col_names_TW = ("num_given_topics", "topic_num", "topic_words")
result_TW = []

for i in range(NUM_TOPICS):
    result_TW_line = []

    result_TW_line.append(NUM_TOPICS)
    result_TW_line.append(i)
    result_TW_line.append(output_NMF_20news['topics'][i])
    result_TW.append(result_TW_line)

Topic_word_df = pd.DataFrame(result_TW, columns=col_names_TW)
Topic_word_df

In [ ]:
word_list.index('window')

In [ ]:
output_LDA_20news['topics']

In [ ]:
len(word_list)

Test (Delete when finished)

In [ ]:
dataset = Dataset()
dataset.load_custom_dataset_from_folder(save_dir)
# Create Model
model = NMF(num_topics=4)

# Train the model
output = model.train_model(dataset)

In [ ]:
#np.shape(output['topic-word-matrix'])
#output['topic-word-matrix']
print(np.max(output['topic-word-matrix'], axis = 0))

Note the 4 outputs:


*   *topics*: the list of word topics
*   *topic-word-matrix*: the distribution of the words of the vocabulary for each topic (dimensions: |num topics| x |vocabulary|)
*   *topic-document-matrix*: the distribution of the topics for each document of the training set (dimensions: |num topics| x |training documents|)
*   *test-topic-document-matrix*: the distribution of the topics for each document of the testing set (dimensions: |num topics| x |test documents|)

In [ ]:
print(*list(output.keys()), sep="\n")

In [ ]:
import numpy as np
#output_LDA_20news
output_LDA_20news['test-topic-document-matrix']

In [ ]:
output['test-topic-document-matrix']
output_max = np.max(output['test-topic-document-matrix'], axis = 0)
output_index = np.argmax(output['test-topic-document-matrix'], axis = 0)

output_index

In [ ]:
output